eventgenerator.1
eventlogger.1
eventselect.1
eventsource.1
eventsink.1
viewevents.1

/music-manual.aux
/music-manual.bbl
/music-manual.blg
/music-manual.idx
/music-manual.ilg
/music-manual.ind
/music-manual.lof
/music-manual.log
/music-manual.pdf
/music-manual.stamp1
/music-manual.toc
/waveconsumer.cc
/waveproducer.cc
/wavetest.music
